body {
  background: #E7F1F5;
}

.menu {
  margin-top: 50px;  
}

.projects {
  margin-top: 35px;
}

.projects h1 {
  line-height: 30px;
}

.about {
  margin-top: 35px;
}

.description {
  padding-left: 30px;
}