---
# The scss file which include files from _sass/
---

@charset "utf-8";
@import "code";
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic);

$white: #fff;
$pink: #e25d74;
$turqoise: #24a7d2;
$dark-gray: #333;

$sans-font-family: "Open Sans", sans-serif;
$serif-font-family: Merriweather, Helvetica, Arial, sans-serif;
$monospace-font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

$site-title-color: $dark-gray;
$site-title-font-family: $serif-font-family;
$site-nav-color: $site-title-color;

$base-font-family: $serif-font-family;
$base-font-size:   16px;
$small-font-size:  0.875rem;
$base-line-height: 1.5;

$title-font-family: $sans-font-family;
$title-color: #e82497;

$background-color: $white;
$text-color:   $dark-gray;
$link-color:   $turqoise;
$meta-color:   #a0a0a0;
$border-color: #ddd;

$code-bg-color: #fbfbfb;
$code-font-family: $monospace-font-family;

body {
    margin: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: 400;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
}
p {
    word-break: break-word;
}
a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h1,h2,h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $title-font-family;
    font-weight: 400;
    color: $title-color;
    word-break: break-word;
}
blockquote {
    font-style: italic;
    padding-left: 1rem;
    border-left: 3px solid $border-color;
}
img {
    max-width: 100%;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
}
th,
td {
    padding: 0.5rem;
    line-height: inherit;
}
th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid $border-color;
}
td {
    vertical-align: top;
    border-bottom: 1px solid $border-color;
}

code.highlighter-rouge {
    padding: 2px 4px;
    font-size: 90%;
    background-color: $code-bg-color;
    border-radius: 4px;
}

pre {
    border-left: 4px solid #e6e6e6;
    padding-top: 10px;
    padding-left: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.35;

    code {
        font-family: $code-font-family;
        font-size: 13px;
        margin-bottom: 0px;
        padding-bottom: 10px;
        display: block;
        overflow-x: auto;
    }
}

hr {
    border: none;
    border-top: 1px solid $border-color;
    margin-top: 28px;
    margin-bottom: 28px;
}

main {
    max-width: 815px;
    margin: 0 auto 3rem;
    padding-left: 15px;
    padding-right: 15px;
}

article {
    font-weight: 300;
}

.clearfix {
  clear: both;
}

.site-header {
    margin-top: 20px;
    margin-bottom: 10px;

    .site-title {
        font-size: 27px;
        font-family: $serif-font-family;
        display: inline-block;
        line-height: 1.4em;
        margin-top: 20px;
        margin-bottom: 20px;

        > a {
            color: $site-title-color;
            text-decoration: none;
        }
    }
    .site-nav {
        margin-top: 3px;
        margin-right: 12px;
        font-family: $serif-font-family;
        line-height: 75px;
        float: right;

        > a {
            margin-left: .25rem;
            &:hover {
                text-decoration: none;
            }
            &.active {
                font-weight: bold;
                color: $site-nav-color;
            }
            + a {
                
            }
        }
    }
}

.table {
    display: table;
    
    .row {
        display: table-row;

        .left, .right, .middle {
            display: table-cell;
        }
    }
}

.project {
    font-size: 22px;
    font-family: $serif-font-family;
    
    .name {
        padding-right: 40px;
    }
    .description {
        font-family: $sans-font-family;
    }
}

@media screen and (max-width: 700px) {
    .site-header {
        text-align: center;

        .site-nav {
            float: none;
            line-height: 1em;
            margin-right: 0px;
            margin-bottom: 35px;
        }
    }

    .row.project {
        font-size: 19px;
        line-height: 1.3em;
        margin-bottom: 12px;
        display: block;

        .left, .right, .middle {
            display: block;
        }
    }

    pre {
        padding-left: 13px;
    }
}

.posts {
    list-style: none;
    padding: 0;

    > li {
        line-height: 1.75;
        span {
            color: $meta-color;
            font-family: $serif-font-family;
            margin-right: 15px;
        }
        a {
            font-family: $sans-font-family;
        }
    }
}

.post {
    position: relative;

    .post-header {
        text-align: center;
        margin: 0px;
        line-height: 1.4em;
    }
    .post-meta {
        margin-top: 16px;
        margin-bottom: 20px;
        font-weight: 400;
        text-align: center;
        color: $meta-color;
        font-size: $small-font-size;
        font-family: $serif-font-family;
    }
}

ul.social {
    list-style: none;
    padding: 0px;
    margin-top: 50px;
    text-align: center;

    li {
        display: inline-block;
    }

    div.twitter {
        margin-right: 3px;
    }
}

#disqus_thread {
    margin-top: 36px;
}

.copyright {
    margin-top: 15px;
    text-align: center;
    font-size: $small-font-size;
}

.flame {
    text-align: center;
    width: 25px;
    display: block;
    margin: auto;
    margin-top: 40px;
    fill: #eee;
}