<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <title>{{ site.title }}</title>
</head>
<body>
    <main>
        <header class="site-header">
            <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            <nav class="site-nav">
                {
                <a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}active{% endif %}">Projects</a>,
                <a href="{{ site.baseurl }}/writing/" class="{% if page.url contains '/writing/' %}active{% endif %}">Writing</a>,
                <a href="{{ site.baseurl }}/about/" class="{% if page.url == '/about/' %}active{% endif %}">About</a>
                }
            </nav>
            <div class="clearfix"></div>
        </header>
        {{ content }}
    </main>
    {% if site.google_analytics %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
</body>
</html>
